/*settings ajustment*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0;
}
/*0. GRID*/

.wrapper {
	height: ;
	max-width: 1200px;
	margin: 0 auto;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-position: top;

}

.container{
	width: 80%;
	margin: 0 auto;
}

.column-wrap{
	font-size: 0;
}

.column-wrap > div{
	display: inline-block;
	font-size: 16px;
}

.column-4{
	max-width: 83,3%;
}

.column-2{
	max-width: 16,7%;
	padding-left: 60px;
}

.column-2 a{
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	padding: 26px 0 23px 0;
	border-bottom: 3px solid transparent;
}

.column-2 a:hover {
	border-bottom: 3px solid #826550;
}

.column-2 a>span{
	margin-left: 20px;
}

/*1.Header*/
.header{
	max-width: 100%;
	margin: 0 auto;
	background-color: #000;
}
/*1.1 NAV*/
.nav-list{
	margin: 0;
	padding: 0 0 0 3px;
	list-style: none;
}
.nav-item{
	display: inline-block;
	margin:0 30px;
	text-align: center;
}
.nav-item:last-child{
	margin-right: 83px;
}
.nav-link{
	color: #fff;
	display: block;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 10px;
	padding: 26px 0 23px 0;
	border-bottom: 3px solid transparent;
}
.nav-link:hover{
	border-bottom: 3px solid #826550;
}

/* 1.2 logotype */

.logo {
	padding: 55px 0 30px;
	text-align: center;
}

.container-triangle {
	font-size: 0;
	width: 100%;
	padding: 0;
	margin: 0;
}

.container-triangle>div {
	display: inline-block;
	font-size: 1rem;
	width: 50%;
}

.triangle-left {
	border-left: 0px solid transparent ;
	border-right: 600px solid transparent;
	border-top: 0px solid transparent;
	border-bottom: 65px solid #f8f5f2 ;
	height: 0;
	width: 0;
}

.triangle-right {
	border-left: 600px solid transparent;
	border-right:0px solid transparent ;
	border-top: 0px solid transparent;
	border-bottom: 65px solid #f8f5f2;
}

.booking-form {
	background-color: #f8f5f2;
	width: 100%;
}

.wrap{
	margin: 0 auto;
	width: 80%;
	font-size: 0;
}
.content>div {
	background-color: #f8f5f2;
	display: inline-block;
	/* padding: 0;
	margin: 0; */
	width: 50%;
}

.title, .rewback {
	text-transform: uppercase;
}

.title {
	padding-top: 50px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	margin: 0;
}

.rewback {
	vertical-align: top;
	text-align: right;
	padding-top: 67px;
}

.rewback a {
	color: #000;
	background-color: #fff;
	border: 1px solid lightgray;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 35px;
	text-decoration: none;
}

.rewback a:active {
	background-color: lightgray;
	border: 3px inset grey;
	color: #fff;
	padding-right: 33px;
}
/* input fields */

.fields {
	font-size: 0;
	margin-top: 70px;
}

.fields>div {
	display: inline-block;
}

/* #name, #family, #secondname {
	padding: 18px 0;
} */

.list-fields-item:nth-child(-n+3) {
	width: 294px;
}

.list-fields-item:nth-child(2) {
	margin: 0 39px;
}
.list-fields-item:nth-child(4) {
	margin: 37px 36px 37px 0;
}



#phonenumber, #e-mail {
	width: 462px;
	padding: 18px 0;
}	

input {
	border: 1px solid #e5ddd5;
	box-sizing: border-box;
	font-family: 'PTSans', sans-serif;
	font-size: 24px;
	line-height: 24px;
	padding: 20px 0;
	text-indent: 24px;
}

.list-fields-item:nth-child(6)>textarea {
	width: 960px;
	height: 210px;
}

input::placeholder {
	color: #000;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea::-webkit-input-placeholder {
	color: #000;
	font-size: 24px;
	padding-top: 24px;
	text-indent: 24px;
}

textarea::-moz-placeholder {
	color: #000;
	font-size: 24px;
	padding-top: 24px;
	text-indent: 24px;
}

textarea:-moz-placeholder {
	color: #000;
	font-size: 24px;
	padding-top: 24px;
	text-indent: 24px;
}
textarea::-ms-input-placeholder {
	color: #000;
	font-size: 24px;
	padding-top: 24px;
	text-indent: 24px;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}