*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
html, body{
	font-family: 'Ubuntu', sans-serif;
	/* font-size: 16px; */
}
header, nav, main, section, footer{
	display: block;
	width: 100%;
}
ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
span{
	display: inline-block;
	color: #fff;
}
a{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	display: block;
}
img{
	max-width: 100%;
}
.wrapper{
	padding: 0 calc(100% / 12);
}
/* **start header section** */
header{
	background: #648cff;
	position: fixed;
	z-index: 100;
}
.nav_header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding-bottom: 36px;
	padding-top: 36px;
}

.logo, .social_list{
	-webkit-flex: 1 0;
	-moz-flex: 1 0;
	-ms-flex: 1 0;
	-o-flex: 1 0;
	flex: 1 0;
}
.nav_list{
	-webkit-flex: 3 0;
	-moz-flex: 3 0;
	-ms-flex: 3 0;
	-o-flex: 3 0;
	flex: 3 0;
	justify-content: space-around;
}
.social_list{
	justify-content: space-around;
}
.nav_item{
	text-transform: capitalize;
}
.logo{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 700;
}
li a{
	font-size: 18px;
	font-weight: 400;
}
.bar_menu{
	display: none;
}
/* **end header section** */
/* **start top section** */

.bg_section{
	background: url('../image/bg.png') center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.section__item:first-child{
	width: calc((100% / 12) * 5);
}
.section__item h2{
	font-size: 3.5em;
	margin: 43% 0 10%;
	color: #fff;
	font-weight: 700;
}
.section__item .descr{
	font-size: 1.125em;
	margin-bottom: 13%;
	font-weight: 400;
	padding-right: 30px;
}
.btn_wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 70%;
}
.btn{
	width: calc(50% - 10px);
	min-height: 52px;
	border: none;
	border-radius: 5px;
	text-transform: capitalize;
	font-size: 1.125em;
	font-weight: 700;
	color: #fff;
}
.bnt_dwnld{
	background: #fc6a42;
}
.bnt_features{
	background: #4466c9;
}
.img_wrap__top-scr{
	margin-top: 17%;
	padding-left: 50px;
}
.btn_to_dwn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.btn_dwn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 60px;
	width: 60px;
	border: none;
	border-radius: 50%;
	background: #fff;
	color: #f00;
	font-size: 18px;
	margin-bottom: 64px;
}
.btn_dwn i{
	margin: auto;
}
/* **end top section** */
/* **start features section** */
.title-section{
	width: 100%;
	text-align: center;
}
.title{
	margin: 0 auto;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.25em;
	color:#6ca3ff;
	margin-bottom: 30px;
}
.title-sbscr{
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
	color: rgba(0, 0, 0, .7);
	margin-bottom: 120px;
}
.features-list-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	padding-bottom: 50px;
}


.features-list-item img{
	width: 85px;
	height: 65px;
	margin-right: 15px;
}
.features-list-item div{
	display: inline-block;
}
.features-list-item div h3{
	font-size: 1.5em;
	font-weight: 700;
}
.features-list-item div p{
	font-size: 1em;
	line-height: 1.5;
	font-weight: 400;
	color: rgba(0, 0, 0, .7);
}
/* **end features section** */
/* **start widjet section** */
	.widjet{
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.slider_container{
  margin:80px auto;
  width: calc((100% /12) * 10);
  display: flex;
  justify-content: space-between;
}

.slider_container div{
  width: calc((100% / 12) * 4);
  height: 100%;
  margin: auto;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
.first_el{
  background: #f55cad;
  transform: translateX(25%) scale(0.9);
  animation:bottom-from-l-to-r 5s infinite;
}
.second_el{
  background: #f50cad;
  z-index:2;
  animation:from-r-to-l 5s infinite;
 
}
.third_el{
  
  background: #f57cad;
  transform: translateX(-25%) scale(0.9);
  animation:from-l-to-r 5s infinite;
}
.slide_img{
  display: block;
  width: 100%;
  height: 100%;
}
/* animation for first element */
@keyframes bottom-from-l-to-r{
  0%{
    transform:translateX(25%) scale(0.9);
  }
 
  25%{
     transform:translateX(175%) scale(0.9);
    z-index:1;
  }
  50%{
     transform:translateX(100%) scale(1);
     z-index:2;
  }
  99%{
    z-index:2;
  }
  
  100%{
    transform:translateX(25%) scale(0.9);
    z-index:0;
  }
}
/*  animation for second element*/
@keyframes from-r-to-l{
  0%{
    transform:translateX(0) scale(1);
    z-index:2;
  }
  25%{
    transform:translateX(-75%) scale(0.9);
    z-index:0;
  }
  50%{
    transform:translateX(75%) scale(0.9);
    z-index:1;
  }
  
  100%{
    transform:translateX(0) scale(1);
    z-index:2;
    
  }
}
/*  animation for third element*/
@keyframes from-l-to-r{
  0%{
    transform:translateX(-25%) scale(.9);
    z-index:1;
  }
  
  25%{
    transform:translateX(-100%)  scale(1);
    z-index:2;
  }
  
  50%{
     transform:translateX(-175%) scale(.9);
     z-index:0;
  }
  100%{
    transform:translateX(-25%)   scale(.9);
    z-index:1;
  }
}
/* **end widjet section** */
/* **start screenshoot section** */
.screenshoot{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
.screenshoot_list{
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
.odd, .even{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.even{
	-webkit-flex-flow: row-reverse nowrap;
	-moz-flex-flow: row-reverse nowrap;
	-ms-flex-flow: row-reverse nowrap;
	-o-flex-flow: row-reverse nowrap;
	flex-flow: row-reverse nowrap;
	/* margin: 100px 0; */
}
.screenshoot-descr, .screenshoot-img{
	width: 50%;
}

.screenshoot-descr{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	padding-top: 70px;
}
.screenshoot-descr img{
	max-width: 100%;
	-ms-align-self: flex-start;
	align-self: flex-start;
}
.screenshoot-descr h3{
	font-size: 2.25em;
	font-weight: 700;
	text-transform: uppercase;
	color: #6ca3ff;
}
.screenshoot-descr p{
	width: 75%;
	margin: 0;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(0, 0, 0, .87);
}
.variabl-info{
	margin: 50px 0;
}
.shaddow{
	display: inline-block;
	background: #fff;
	border-radius: 50% 50%;
	box-shadow: 3px 0 10px 2px rgba(0, 0, 0, .1);
	font-weight: 700;
	font-size: 24px;
	color: rgba(0, 0, 0, .3);
	position: relative;
}
.mostr-cloudy{
	padding: 18px 8px;
	z-index: 1;
}
.tmp-cloudy{
	padding: 18px 12px 18px 17px;
	left: -15px;
}
.state-cloudy{
	padding: 20px 0px;
	text-transform: capitalize;
	font-size: 20px;
	left: -22px;
	z-index: -1;
}
.mostr-sunny{
	padding: 18px 14px 18px 15px;
	z-index: 1;
}
.tmp-sunny{
	padding: 18px 12px 18px 18px;
	left: -12px;
}
.state-sunny{
	padding: 20px 4px;
	text-transform: capitalize;
	font-size: 20px;
	left: -21px;
	z-index: -1;
}
.mostr-rainy{
	padding: 18px 5px 18px 10px;
	z-index: 1;
	
}
.tmp-rainy{
	padding: 18px 17px 18px 26px;
	left: -18px;
}
.state-rainy{
	padding: 20px 6px;
	text-transform: capitalize;
	font-size: 20px;
	left: -28px;
	z-index: -1;
}
/* **end screenshoot section** */
/* **start reviews section** */
.reviews-list{
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 70px;
}
.reviews-list-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	margin-bottom: 55px;
	padding-right: 15px;
	width: calc(50% - 15px);
}
.quote-right i, .qoute-left i{
	color:#6ca3ff ;
	font-size: 2.25em;
}
.quote-right{
	-ms-align-self: flex-end;
	align-self: flex-end;
	
}
.reviews-descr{
	font-size: 1.5em;
	font-weight: 400;
	color: rgba(0, 0, 0, .8);
}
cite{
	font-size: 1.125em;
	font-weight: 400;
	font-style: normal;
	color: rgba(0, 0, 0, .7);
}
/* **end reviews section** */
/* **start download section** */
.download{
	background: #6ca3ff;
	overflow-y: hidden;
}
.dwnld_sectn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.btn_appl{
	background: url('../image/appstore.png') center no-repeat;
}
.btn_ggl{
	background: url('../image/google_play.png') center no-repeat: ;
}
/* **end download section** */
/* **start footer section** */
.main_footer{
background: #353854;
}
.offset_footer{
	padding-top: 80px;
	padding-bottom: 80px;
}
.logo-title{
	margin-bottom: 30px;
	display: block;
	/* text-align: center; */
}
.red{
	color: #f00;
	font-size: 36px;
}
.blue{
	color: #6ca3ff;
	font-size: 36px;
}
.copyright_wrap{
	padding-top: 50px;
	padding-bottom: 85px;
	text-align: right;
}
.copyright{
	color: rgba(255, 255, 255, .3);
	font-size: 16px;
	font-weight: 400;
}
/* **end footer section** */