*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}
main, section{
	display: block;
}
span{
	display: inline-block;
}
img{
	max-width: 100%;
	display: block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.main_container{
	width: 100%;
}
.wrapper{
	margin: 0 30px;
}
.wrap{
	margin: auto 0;
}
.main_header{
	width: 100%;
	background: #648cff;
	position: fixed;
	z-index: 100;
}
.main_header__nav{
	padding: 29px 0;
}
.main_header__nav, .header_nav, .header_social__list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.header_social__list{
	justify-content: space-around;
}
.header_nav{
	-webkit-flex: 2 0;
	-moz-flex: 2 0;
	-ms-flex: 2 0;
	-o-flex: 2 0;
	flex: 2 0;
}
.logo_title, .header_social__list{
	-webkit-flex: 1 0;
	-moz-flex: 1 0;
	-ms-flex: 1 0;
	-o-flex: 1 0;
	flex: 1 0;
}
.header_nav__link{
	text-decoration: none;
	display: block;
	color: rgba(255, 255, 255, .7);
	text-transform: capitalize;
	font-weight: 400;
	font-size: 18px;
}
.logo_title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 25px;
}
.header_social__link{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-size: 19px;
}
.bar_menu{
	display: none;
}
.bg_wrapper{
	width: 100%;
	background: url('../image/bg.png') center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
.screen_section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
}
.left, .right{
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	
}
.wrap h2 {
	font-weight: 700;
	color: #fff;
	font-size: 60px;
}
.descr{
	font-size: 18px;
	line-height: 30px;
	padding-right: 190px;
	color: #fff;
	font-weight: 400;
	display: block;
	margin: 40px 0 55px 0px;
}
.right{
	margin-top: 30px;
}
.btn_wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 50%;
}
.btn{
	font-size: 18px;
	text-transform: capitalize;
	border:none ;
	padding: 18px 0px;
	width: calc(50% - 5px);
	border-radius: 8px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}
.btn-dwld{
	background: #fc6a42;
	
}
.btn-ftrs{
	background: #4466c9;
}
.right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	-o-flex-flow: row;
	flex-flow: row;
	justify-content: flex-start;
	margin: 0;
	padding-top: 120px;
}
.screen_device.device{
	width: 80%;
}
.nav-to-bottom{
	width: 100%;
	text-align: center;
	align-self: flex-end;
	padding-bottom: 65px;
}
.nav-to-bottom span{
	display: inline-block;
	padding: 16px 20px;
	background: #fff;
	border-radius: 50% 50%;
}
.nav-to-bottom span i{
	font-size: 18px;
	color: #f00;
}
.title-section{
	width: 100%;
	text-align: center;
	padding: 120px 0 130px;
}
.title{
	margin: 0 auto;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
	color:#6ca3ff;
	margin-bottom: 30px;
}
.title-sbscr{
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
	color: rgba(0, 0, 0, .7);
}
.features-list-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.features-list-item:not(:last-child){
	margin-right: 30px;
}

.features-list-item img{
	width: 85px;
	height: 65px;
	margin-right: 15px;
}
.features-list-item div{
	display: inline-block;
}
.features-list-item div h3{
	font-size: 24px;
	font-weight: 700;
}
.features-list-item div p{
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: rgba(0, 0, 0, .7);
}
.widjet{
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.widjet .title-section{
	margin-top: 20px;
	padding-bottom: 25px;
}
.slider_container{
  margin:80px auto;
  width: calc((100% /12) * 10);
  display: flex;
  justify-content: space-between;
}
.slider_container div{
  width: calc((100% / 12) * 4);
  height: 100%;
  margin: auto;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
.first_el{
  background: #f55cad;
  transform: translateX(25%) scale(0.9);
  animation:bottom-from-l-to-r 5s infinite;
}
.second_el{
  background: #f50cad;
  z-index:2;
  animation:from-r-to-l 5s infinite;
 
}
.third_el{
  
  background: #f57cad;
  transform: translateX(-25%) scale(0.9);
  animation:from-l-to-r 5s infinite;
}
.slide_img{
  display: block;
  width: 100%;
  height: 100%;
}
/* animation for first element */
@keyframes bottom-from-l-to-r{
  0%{
    transform:translateX(25%) scale(0.9);
  }
 
  25%{
     transform:translateX(175%) scale(0.9);
    z-index:1;
  }
  50%{
     transform:translateX(100%) scale(1);
     z-index:2;
  }
  99%{
    z-index:2;
  }
  
  100%{
    transform:translateX(25%) scale(0.9);
    z-index:0;
  }
}
/*  animation for second element*/
@keyframes from-r-to-l{
  0%{
    transform:translateX(0) scale(1);
    z-index:2;
  }
  25%{
    transform:translateX(-75%) scale(0.9);
    z-index:0;
  }
  50%{
    transform:translateX(75%) scale(0.9);
    z-index:1;
  }
  
  100%{
    transform:translateX(0) scale(1);
    z-index:2;
    
  }
}
/*  animation for third element*/
@keyframes from-l-to-r{
  0%{
    transform:translateX(-25%) scale(.9);
    z-index:1;
  }
  
  25%{
    transform:translateX(-100%)  scale(1);
    z-index:2;
  }
  
  50%{
     transform:translateX(-175%) scale(.9);
     z-index:0;
  }
  100%{
    transform:translateX(-25%)   scale(.9);
    z-index:1;
  }
}
.btn_lft, .btn_rght{
	-ms-align-self: center;
	align-self: center;
	font-size: 60px;
	cursor: pointer;
	display: inline-block;
}
span .fa-angle-left, span .fa-angle-right{
	font-size: 60px;
	color: rgba(0, 0, 0, .3);
}
.screenshoot{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
.screenshoot_list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
.odd, .even{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.even{
	-webkit-flex-flow: row-reverse nowrap;
	-moz-flex-flow: row-reverse nowrap;
	-ms-flex-flow: row-reverse nowrap;
	-o-flex-flow: row-reverse nowrap;
	flex-flow: row-reverse nowrap;
	margin: 100px 0;
}
.screenhoot-img{
	width: 50%;
}
 
.screenshoot-descr{
	width: 50%;
	-webkit-flex: 1 0 50%;
	-moz-flex: 1 0 50%;
	-ms-flex: 1 0 50%;
	-o-flex: 1 0 50%;
	flex: 1 0 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
}


.screenshoot .title-section{
	/* margin-top: 65px; */
}
.img-container{
	position: relative;
}
.bg-descr{
	position: absolute;
	z-index: -1;
	font-weight: 300;
	font-size: 235px;
	text-transform: capitalize;
	-webkit-writing-mode: vertical-lr;
	-moz-writing-mode: vertical-lr;
	-ms-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	color: rgba(0, 0, 0, .1);
}
.bg-descr-cloudy{
	top: -58px;
	left: 239px;
}
.bg-descr-sunny{
	top: -29px;
	left: 239px;
}
.bg-descr-rainy{
	top: 28px;
	left: 253px;
}
li .screenshoot-descr, li .screenshoot-img{
	width: 50%;
}
li .screenshoot-img{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.screenshoot-descr{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	padding-top: 70px;
}
.screenshoot-descr img{
	-ms-align-self: flex-start;
	align-self: flex-start;
}
.screenshoot-descr h3{
	margin: 45px 0 35px;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #6ca3ff;
}
.screenshoot-descr p{
	width: 75%;
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	color: rgba(0, 0, 0, .87);
}
.variabl-info{
	margin: 50px 0;
}
.shaddow{
	display: inline-block;
	background: #fff;
	border-radius: 50% 50%;
	box-shadow: 3px 0 10px 2px rgba(0, 0, 0, .1);
	font-weight: 700;
	font-size: 24px;
	color: rgba(0, 0, 0, .3);
	position: relative;
}
.mostr-cloudy{
	padding: 18px 8px;
	z-index: 1;
}
.tmp-cloudy{
	padding: 18px 12px 18px 17px;
	left: -15px;
}
.state-cloudy{
	padding: 20px 0px;
	text-transform: capitalize;
	font-size: 20px;
	left: -22px;
	z-index: -1;
}
.mostr-sunny{
	padding: 18px 14px 18px 15px;
	z-index: 1;
}
.tmp-sunny{
	padding: 18px 12px 18px 18px;
	left: -12px;
}
.state-sunny{
	padding: 20px 4px;
	text-transform: capitalize;
	font-size: 20px;
	left: -21px;
	z-index: -1;
}
.mostr-rainy{
	padding: 18px 5px 18px 10px;
	z-index: 1;
	
}
.reviews-list{
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between;
}
.reviews-list-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	padding-right: 15px;
	margin-bottom: 55px;
	width: calc(50% - 15px);
}

.quote-right i, .qoute-left i{
	color:#6ca3ff ;
	font-size: 36px;
}
.quote-right{
	-ms-align-self: flex-end;
	align-self: flex-end;
	
}
.reviews-descr{
	font-size: 24px;
	font-weight: 400;
	color: rgba(0, 0, 0, .8);
}
cite{
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	color: rgba(0, 0, 0, .7);
}
.tmp-rainy{
	padding: 18px 17px 18px 26px;
	left: -18px;
}
.state-rainy{
	padding: 20px 6px;
	text-transform: capitalize;
	font-size: 20px;
	left: -28px;
	z-index: -1;
}
.btn-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	width: 100%;
}
.btn_dwld{
	width: calc(50% - 15px);
	height: 46px;
	border-radius: 7px;
	border: none;
}
.btn_dwld a {
	display: block;
	width: 100%;
	height: 100%;
}
.btn-appStore{
	background: url('../image/appstore.png') center no-repeat;
	margin-right: 10px;
}
.btn-googlPlay{
	background: url('../image/google_play.png') center no-repeat;
}
.download_wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.download{
	background: #6ca3ff;
	overflow-y: hidden;
}
.download .download_wrap.wrapper{
	margin-right: 0;
}
.download_wrap .left .btn_wrap{
	padding-bottom: 65px;
}
.right_img{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	overflow: hidden;
	
}
.right_img{
	width: 50%;
	position: relative;
}
.right_img div img {
	display: inline-block;
}
.right_img div{
	display: inline-block;
	position: absolute;
}
.right_img .device{
	/* width: auto; */
}
.right_img div:nth-child(odd){
	top: 130px;
}
.right_img div:first-child{
	left: 10px;
}
.right_img div:last-child{
	left: 366px;
}
.right_img div:nth-child(odd) img{
	filter: blur(5px);
}
.right_img div:nth-child(even){
	top: 65px;
	left: 220px;
	z-index: 1;
}
.main_footer{
background: #353854;
}
.footer_nav{
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between;
}
.footer_nav__link{
	color: rgba(255, 255, 255, .5);
	text-decoration: none;
	font-size: 18px;
	text-transform: capitalize;
}
.footer_social__list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding: 30px 0 0;
}
.offset_footer{
	padding: 30px 0;
}
.logo-title{
	margin-bottom: 30px;
	display: block;
	/* text-align: center; */
}
.red{
	color: #f00;
	font-size: 36px;
}
.blue{
	color: #6ca3ff;
	font-size: 36px;
}
.copyright_wrap{
	padding: 30px 0;
	text-align: right;
}
.copyright{
	color: rgba(255, 255, 255, .3);
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.active--link{
	color: #fff;
}
