.title{
	font-size: 32px;
}
.title-sbscr{
	margin-bottom: 50px;
}


/* **start header section** */
.nav_header{
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.logo, .social_list{
	-webkit-flex: 1 0;
	-moz-flex: 1 0;
	-ms-flex: 1 0;
	-o-flex: 1 0;
	flex: 1 0;
	width: 100%;
}
.nav_list{
	position: absolute;
	top: 0;
	bottom: 0;
	display: none;
	background: rgba(0, 0, 0, .7);
	-webkit-flex-flow: 	column nowrap;
	-moz-flex-flow: 	column nowrap;
	-ms-flex-flow: 	column nowrap;
	-o-flex-flow: 	column nowrap;
	flex-flow: 	column nowrap;
	-ms-align-items: center;
	align-items: center;	
	width: 100%;
	height: 100vh;
	margin: 0;
	order: 2;
}
.nav_item:not(:first-child){
	margin-top: 30px;
}
.social_list{
	margin: 30px 0;
}
.nav_item a{
	font-size: 36px;
}
.logo{
	font-size: 2em;
	text-align: center;
}
.bar_menu{
	display: inline-block;
	font-size: 36px;
	cursor: pointer;	
}
.nav_list--show{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
}
/* **end header section** */
/* **start top section** */
/* .section__list{
	
} */
.section__list .section__item{
	width: 100%;
}
.section__item h2{
	margin-top: 30px;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
}
.section__item .descr{
	font-size: 1em;
	line-height: 40px;
	text-align: center;
	padding: 0;
	width: 100%;
}
.img_wrap__top-scr{
	padding-left: 0;
}
.btn_wrap{
	-ms-align-self: center;
	align-self: center;
	width: 100%;
}
/* **end top section** */
/* **start features section** */
/* .features-list{
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
} */
.features-list-item{
	flex-basis: 100%;
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-ms-flex-flow: column;
	-o-flex-flow: column;
	flex-flow: column;
	-ms-align-items: center;
	align-items: center;
}
.features-list-item div h3{
	text-align: center;
}
/* **end features section** */
/* **widjet section** */
.slider_container{
	margin: 30px 0;
	width: 100%;
}
/* **end widjet section** */
/* **screenshoot section ** */
.odd, .even{
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
.screenshoot-img, .screenshoot-descr{
	width: 100%;
}
.screenshoot-descr{
	-ms-align-items: center;
	align-items: center;
	text-align: center;
}
/* **end screenshoot section ** */
/* ** review section ** */
.reviews-list{

}
.reviews-list-item{
	width: 100%;
	flex-basis: auto;
}
/* ** end review section ** */
/* ** download section ** */

.download.wrapper{
	padding: 0;
}
.section__item.item_download{
	width: 100%;
	min-height: 100%;
	-webkit-flex: 1 0 100%;
	-moz-flex: 1 0 100%;
	-ms-flex: 1 0 100%;
	-o-flex: 1 0 100%;
	flex: 1 0 100%;
	
}
.section__item:first-child{
	padding: 0 calc(100% / 12);
}

/* .dwnld_sectn img:first-child{
	
}*/
.dwnld_sectn img:nth-child(3){
	right: 0;
}
.dwnld_sectn img:nth-child(even){
	top: 30px;
	left: 15%;
}
.response{
	display: block;
	padding-bottom: 100%;
}
.download .section__list{
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  -o-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.dwnld_sectn img{
	width: 70%;
	
}
.item_download .btn_wrap{
	margin-bottom: 0;
	justify-content: space-around;
}
.btn_appl, .btn_ggl{
	-webkit-background-size: contain;
	background-size: contain;
}

/* ** end download section ** */