/* **start header section** */
.nav_header{
	padding-top: 30px;
	padding-bottom: 30px;
}
.logo{
	font-size: 1.1em;
}
/* **end header section** */
/* **start top section** */
.bg_section{

}
.section__item h2{
	font-size: 2em;
	margin-top: 60px;
	margin-bottom: 20px;
}
.section__item .descr{
	font-size: 1em;
	line-height: 30px;
	padding-right: 0;
	margin-bottom: 30px;
}
.img_wrap__top-scr{
	padding: 0;
}
.btn_dwn{
	margin-bottom: 30px;
}
.btn_wrap{
	width: 100%;
}



/* **end top section** */
/* **screenshoot section** */
.screenshoot-descr p, .screenshoot-descr h3{
	width: 100%;
}
/* **end screenshoot section** */
/* **reviews section** */
.reviews-list-item{
	width: 100%;
}
/* **end reviews section** */
/* ** footer** */
.blue, .red{
	font-size: 18px;
}
/* **end footer** */