.main_header__nav{
	padding: 29px 0;
}
.main_header__nav, .header_nav, .header_social__list{
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.header_social__list{
	justify-content: space-around;
}
.header_nav{
	-webkit-flex: 2 0;
	-moz-flex: 2 0;
	-ms-flex: 2 0;
	-o-flex: 2 0;
	flex: 2 0;
}
.logo_title, .header_social__list{
	-webkit-flex: 1 0;
	-moz-flex: 1 0;
	-ms-flex: 1 0;
	-o-flex: 1 0;
	flex: 1 0;
}
.header_social__link{
	font-size: 1.19em;
}

.right{
	padding-top: 100px;
}
.wrap h2 {
	font-size: 3.75em;
}
.descr{
	font-size: 1.125em;
	line-height: 30px;
	padding-right: 190px;
	margin: 40px 0 55px 0px;
}
.btn_wrap{
	width: 70%;
}
.nav-to-bottom{
	padding-bottom: 65px;
}
.title-section{
	padding: 120px 0 130px;
}
.features-list-item:not(:last-child){
	margin-right: 30px;
}
.widjet .title-section{
	margin-top: 20px;
	padding-bottom: 25px;
}

.btn_lft, .btn_rght{
	-ms-align-self: center;
	align-self: center;
	font-size: 60px;
	cursor: pointer;
	display: inline-block;
}
span .fa-angle-left, span .fa-angle-right{
	font-size: 60px;
	color: rgba(0, 0, 0, .3);
}
.screenshoot-img{
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex: 1 0 50%;
	-moz-flex: 1 0 50%;
	-ms-flex: 1 0 50%;
	-o-flex: 1 0 50%;
	flex: 1 0 50%;
	justify-content: center;
}
.screenshoot-descr{
	width: 50%;
	-webkit-flex: 1 0 50%;
	-moz-flex: 1 0 50%;
	-ms-flex: 1 0 50%;
	-o-flex: 1 0 50%;
	flex: 1 0 50%;
}
.bg-descr-cloudy{
	top: -58px;
	left: 239px;
}
.bg-descr-sunny{
	line-height: 0;
	top: -29px;
	left: 346px;
}
.bg-descr-rainy{
	top: 28px;
	left: 253px;
}
.screenshoot-descr h3{
	margin: 45px 0 35px;
}
.reviews-list{
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between;
}
.reviews-list-item{
	padding-right: 15px;
	width: calc(50% - 15px);
}
