*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	
}

body {
	font-size: 100%;
}

.head {
	width: 100%;
	position: fixed;
	font-size: 0;
	background-color: rgba(255, 255, 255, .1);
	z-index: 9;
}

.head>div {
	display: inline-block;
	width: 50%;
	padding:  1.83% /*2.92% 2.083% 2.083%*/;
	vertical-align: middle;
}

.head__logo {
	display: inline-block;
	font-family: 'Dosis', sans-serif;
	font-size: 5vw;
	font-size: 35px;
	color: #fff;
	text-decoration: none;
	width: 140px;
}

.head__btn {
	text-align: right;
}

.head__wrap-left{
	text-align: left;
}

.head__wrap-right {
	text-align: right;
}

.head__form {
	display: inline-block;
  position: relative;
  width: 100%;
  height: 42px;

}

.search {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  outline: none;
  background: transparent;
  transition: width .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

.search:focus {
  width: 100%;
  z-index: 99;
  font-size: 24px;
  color: grey;
  background-color: rgba(255, 255, 255, .5);
}

button {
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: none;
}

button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 40px;
  color: #fff;
}


/* .content {
	width: 50%;
	font-size: 0;
} */

main {
	font-size: 0;
}

main>.content {
	display: inline-block;
	width: 50%;
	height: 100vh;
	font-size: 1rem;
	vertical-align: top;
	
}

.content>div {
	width: 100%;
	font-size: 1rem;
	height: 100%;
}

.content__left {
	background-image: url('../images/Calque 5.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.content__right {
	background-image: url('../images/Calque 4.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.content__layer {
	width: 100%;
	height: 100%;
	padding-top: 12vw;
}

.content__layer--left {
	background: linear-gradient(to bottom, #000099 0%, transparent 100%);
}

.content__layer--right {
	background: linear-gradient(to bottom, #9900cc 0%, transparent 100%);
	background: -webkit-linear-gradient(to bottom, #9900cc 0%, transparent 100%);
}

.content__main {
	width: 75%;
	text-align: center;
	margin: 0 auto;
}


.left {
	font-family: 'high_tideregular', sans-serif;
	font-size: 7vw;
	letter-spacing: 2px;
	color: #fff;
}

.content__main-par {
	font-size: 5vw;
	font-family: 'open_sans_condensedlight';
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-bottom: 75px;
	color: #fff;
}

.right {
	font-family: 'DymaxionScript';
	font-size: 7vw;
	letter-spacing: 2px;
	color: #fff;
}

.content__buttn {
	display: inline-block;
	color: #fff;
	font-family: 'open_sans_condensedlight';
	font-size: 1.5rem;
	padding: 20px 30px 20px 30px;
	width: 220px;
	text-decoration: none;
	background-color: rgba(255, 255, 255, .3);
	border-radius: 10px 10px;
}

.content__buttn:hover {
	color: gray;
	background-color: rgba(255, 255, 255, .8);
}

/* footer of page */

.foot__page-wrap {
	background-color: #595f6f;
	font-size: 0;
	width: 100%;
	padding: 30px;
}

.foot__page-wrap>div {
	display: inline-block;
	vertical-align: middle;
}

.foot__page-left {
	width: 50%;
	padding: 20px 50px 20px 40px;
	border-right: 3px solid #4d5362;
}

.foot__list {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #fff;
}

.foot__logo {
	font-family: 'Dosis', sans-serif;
	font-size: 2vw;
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

.foot__sec {
	display: inline-block;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5vw;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .8);
	text-decoration: none;
	padding: 20px 0;
}

.foot_bonus {
	display: inline-block;
	font-size: 1.5vw;
	letter-spacing: 2px;
	font-family: 'open_sans_condensedlight', sans-serif;
	text-decoration:underline;
	color: rgba(255, 255, 255, .8);
	padding-bottom: 30px;
}
.fa {
	text-decoration: underline;
}

.foot__copyr {
	font-family: 'Dosis', sans-serif;
	font-size: 1vw;
	margin: 0;
	padding: 0;
}

.foot__page-center {
	width: 30%;
	border-right: 3px solid #4d5362;
	padding: 48px 0px;
}

.foot__page-center>div {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.foot__center-list {
	padding-left: 5vw;
}

.foot__center-list .list__item {
	padding: 10px 0;
}


.list__item-link {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5vw;
	font-family: 'open_sans_condensedlight', sans-serif;
	text-decoration: none;
}

.foot__page>div a:hover {
	color: grey;
}

.foot__page-right {
	width: 20%;
}

.list__right {
	list-style: none;
	margin: 0;
	text-align: center;
}

label[for='.subscribe'] {
	font-size: 1.56rem;
	color: #fff;
	text-transform: uppercase;
	font-family: 'open_sans_condensedlight', sans-serif;
}

.subscribe {
	width: 100%;
	height: 70px;
	margin-top: 25px;
	margin-bottom: 15px;
	background-color: rgba(128, 128, 128, .7);
	border: none;
	font-size: 1.5rem;
	color: #fff;
	border-radius: 5px 5px;
}
.subscribe:focus {
	outline: none;
}

.subscribe::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .5);
	font-size: 1.125rem;
	font-style: italic;
	text-overflow: ellipsis; 
}
.subscribe::-moz-placeholder {
	color: rgba(255, 255, 255, .5);
	font-size: 1.125rem;
	font-style: italic;
	text-overflow: ellipsis;
}/* Firefox 19+ */
.subscribe:-moz-placeholder {
	color: rgba(255, 255, 255, .5);
	font-size:1.125rem;
	font-style: italic;
	text-overflow: ellipsis;
}/* Firefox 18- */
.subscribe:-ms-input-placeholder {
	color: rgba(255, 255, 255, .5);
	font-size: 1.125rem;
	font-style: italic;
	text-overflow: ellipsis;
}

.social {
	display: inline-block;
	background-repeat: no-repeat;
	font-size: 0;
	width: 52px;
	height: 52px;
	border-radius: 8px 8px;
}

.right__item-tw {
	background-image: url('../images/résaux sociaux.png');
	background-position: 0 0;
}
.right__item-gplus {
	background-image: url('../images/résaux sociaux.png');
	background-position: -128px; 
	margin: 0 25px;
	width: 55px;
	height: 55px;
}
.right__item-fb {
	background-image: url('../images/résaux sociaux.png');
	background-position: -240px;
}