/*settings ajustment*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0;
}
/*0. GRID*/

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-position: top;

}

.container{
	width: 80%;
	margin: 0 auto;
}

.column-wrap{
	font-size: 0;
}

.column-wrap > div{
	display: inline-block;
	font-size: 16px;
}

.column-4{
	max-width: 83%;
}

.column-2{
	max-width: 17%;
	padding-left: 60px;
}

.column-2 a{
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	padding: 26px 0 23px 0;
	position: relative;
	
}

.column-2 a>span{
	margin-left: 20px;
}

/*1.Header*/
.header{
	max-width: 100%;
	margin: 0 auto;
	background-color: #000;
}
/*1.1 NAV*/
.nav-list{
	margin: 0;
	padding: 0 0 0 3px;
	list-style: none;
	font-family: 'PT Sans Narrow', sans-serif;
}
.nav-item{
	display: inline-block;
	margin:0 30px;
	text-align: center;
	position: relative;

}


.nav-item:last-child{
	margin-right: 83px;
}
.nav-link{
	color: #fff;
	display: block;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 10px;
	padding: 26px 0 23px 0;
	border-bottom: 3px solid transparent;
}

a.nav-link::after {
	content:'';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	transform-origin: center;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	-o-transform: scale(0, 1);
	transform: scale(0, 1);
	border-bottom: 3px solid #826550;
	border-radius: 20% 20%;
}

a.nav-link:hover::after{
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	transition: transform .5s;
	
	
}


/* 1.2 logotype */

.logo {
	padding: 55px 0 30px;
	text-align: center;
}

.container-triangle {
	font-size: 0;
	width: 100%;
	padding: 0;
	margin: 0;
}

.container-triangle div {
	display: inline-block;
	font-size: 1rem;
	width: 50%;
}

.triangle-left {
	border-left: 0px solid transparent ;
	border-right: 600px solid transparent;
	border-top: 0px solid transparent;
	border-bottom: 65px solid #f8f5f2 ;
	height: 0;
	width: 0;
}

.triangle-right {
	border-left: 600px solid transparent;
	border-right:0px solid transparent ;
	border-top: 0px solid transparent;
	border-bottom: 65px solid #f8f5f2;
}

.booking-form {
	background-color: #f8f5f2;
	width: 100%;
}

.wrap {
	margin: 0 auto;
	width: 80%;
	font-size: 0;
}
.content>div {
	background-color: #f8f5f2;
	display: inline-block;
	/* padding: 0;
	margin: 0; */
	width: 50%;
}

.title, .rewback {
	text-transform: uppercase;
}

.title {
	padding-top: 50px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	margin: 0;
}

.rewback {
	vertical-align: top;
	text-align: right;
	padding-top: 67px;
}

.rewback a {
	color: #000;
	background-color: #fff;
	border: 1px solid lightgray;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 35px;
	text-decoration: none;
}

.rewback a:hover {
	background-color: lightgray;
}
.rewback a:active {
	background-color: lightgray;
	border: 3px inset grey;
	color: #fff;
	padding-right: 33px;
}
/* input fields */

.fields {
	font-size: 0;
	margin-top: 70px;
}

.fields>div {
	display: inline-block;
}



.list-fields-item:nth-child(2) {
	margin: 0 39px;
}
.list-fields-item:nth-child(4) {
	margin: 36px 36px 36px 0;
}
	

#name, #family, #secondname, #phonenumber, #e-mail {
	border: 1px solid #e5ddd5;
	box-sizing: border-box;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 24px;
	line-height: 24px;
	padding: 18px 0;
	text-indent: 24px;
	width: 294px;
}
#phonenumber, #e-mail {
	width: 462px;
}

.list-fields-item:nth-child(6)>textarea {
	width: 960px;
	height: 210px;
	border: 1px solid #e5ddd5;
}

input::placeholder {
	color: #000;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea::-webkit-input-placeholder {
	color: #000;
	font-size: 24px;
	line-height: 24px;
	padding-top: 18px;
	text-indent: 24px;
	font-family: 'PT Sans Narrow', sans-serif;
}

textarea::-moz-placeholder {
	color: #000;
	font-size: 24px;
	padding-top: 24px;
	text-indent: 24px;
	font-family: 'PT Sans Narrow', sans-serif;
}

textarea:-moz-placeholder {
	color: #000;
	font-size: 24px;
	padding-top: 24px;
	text-indent: 24px;
	font-family: 'PT Sans Narrow', sans-serif;
}
textarea::-ms-input-placeholder {
	color: #000;
	font-size: 24px;
	padding-top: 24px;
	text-indent: 24px;
	font-family: 'PT Sans Narrow', sans-serif;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
textarea:focus::-moz-placeholder {
  opacity: 0;
}
textarea:focus::-ms-input-placeholder {
  opacity: 0;
}
/* ./input fields */

/* select fields */

.select {
	border-top: 1px solid #e5ddd5;
	font-size: 1rem;
	margin: 86px auto 0;
	/* padding-top: 65px; */
	/* position: relative; */
	width: 100%;
}

.list-select>div {
	display: inline-block;
}

.purpose-header {
	background-color: #f8f5f2;
	padding: 0 40px;
	width: 400px;
	margin: 0 auto;
	transform: translateY(-20px);
	/* position: absolute;
	padding: 0 40px;
	width: 400px;
	left: 30%;
	top: -20px; */
}

.purpose-header>h2 {
	font-size: 30px;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

form {

}
#admiral, #lumberjack, #polar-explorer, #boyar, #sadge {
	width: 50px;
	height: 50px;
	cursor: pointer;
	/* margin: 0 150px 0 0; */
}
/* #admiral {
	margin-left: 55px;
}

#sadge {
	margin-right: 0;
}

.label {
	font-size: 0;
}

.choose {
	font-size: 24px;
	font-family: 'PT Sans Narrow', sans-serif;
	display: inline-block;
}

.choose:first-child {
	margin-left: 45px;
}

.choose:not(:last-child) {
	margin-right: 130px;
} */