* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.wrapper {
	max-width: 100%;
}

.container {
	width: 100%;
	background-color: #000;
}

.column-wrap {
	width: 80%;
	margin: 0 auto;
}

.column-wrap>div {
	display: inline-block;
	font-size: 0;
}

.col-4 {
	max-width: 83.3%;
}

.col-2 {
	max-width: 16.7%;
}

.nav-list {
	list-style: none;
	padding: 0;
}

.nav-list>li {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-family: "PTSansNarrowBold";
	line-height: 18px;
	text-transform: uppercase;
	margin: 0 30px;
}

.nav-list>li:last-child {
	margin-right: 80px;
}

a.nav-link {
	display: block;
	padding: 26px 0 23px 0;
	position: relative;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	color: #fff;
}

a.nav-link::after {
	content: '';
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 3px solid #826550;
	transform-origin: center;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	-o-transform: scale(0, 1);
	transform: scale(0, 1);
}

a.nav-link:hover::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	transition: transform .5s;
}

a.nav-link:hover {
	color: #826550;
}

.header-but {
	text-align: right;
	margin-left:60px;
	position: relative;
	border-bottom: 3px solid transparent;
}

.login-btn {
	color: #fff;
	font-family: "PTSansNarrowBold";
	font-size: 18px;
	background: none;
	border-style: none;
	text-transform: uppercase;
	margin: 24px 0 21px 0;
	padding-left: 25px;
	background-image: url("../images/login.png");
	background-repeat: no-repeat;
	background-position: center left;
}

.login-btn::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	transform-origin: center;
	border-bottom: 3px solid #826550;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	-o-transform: scale(0, 1);
	transform: scale(0, 1);

}

.login-btn:hover::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	transition: transform .5s;
}

.login-btn:hover {
	color: #826550;
}

.hdr-logo {
	width: 100%;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	padding: 55px 0 435px 0;
}

.content {
	width: 100%;
	background-color: #353535;
}

.statistic {
	width: 80%;
	margin: 0 auto;
	position: relative;

}

.col-wrap {
	font-size: 0;
	position: absolute;
	top: -160px;
	/* transform: translateY(-50%); */
}

.colum-2, .colum-4 {
	display: inline-block;	
	vertical-align: top;
}

.colum-4--stat-col {
	float: right;
}

.clearfix::before, 
.clearfix::after {
	content: '';
	display: table;
}

.clearfix::after {
	clear: both;
}

.col-wrap>.colum-2 {
max-width: 33.3%;
background-color: #fff;
}

.col-wrap>.colum-4 {
	max-width: 66.7%;
	color: #fff;
}

.stat-list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.stat-item {
	display: inline-block;
	width: 50%;
	min-height: 160px;
	font-size: 16px;
	padding: 25px 35px
	/* line-height: 18px; */
}

.stat-item:last-child {
	padding-right: 0;
}

.colum-2>.stat-list li.stat-item {
	width: 100%;
	font-size: 40px;
	font-family: "PTSansNarrowBold";
	line-height: 35px;
	padding: 35px 70px 50px 40px;
}

.colum-2>.stat-list li.stat-item p {
	margin: 0;
}

.colum-2>.stat-list li.stat-item:nth-child(2) {
	background-color: #223ffa;
	font-size: 20px;
	font-family: "PTSansNarrowRegular";
	line-height: 24px;
	padding-top: 0;
}

p.stat-count {
	font-size: 72px;
	font-family: "PTSansNarrowBold";
}

.stat-count-desk {
	font-size: 20px;
	font-family: "PTSansNarrowRegular";
}
/* block three column */
.three-col {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.list-col {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.list-col-item {
	background-color: #353535;
	color: #fff;
	text-align: center;
	max-width: 33.3%;
	font-size: 16px;
	float: left;

}

.list-col-item {
	padding: 235px 40px 0;
}

.list-col-item:nth-child(2) {
	padding: 235px 65px 0;
}


.col-head {
	font-size: 30px;
	font-family: "PTSansNarrowBold";
	line-height: 30px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.col-head:nth-child(2) {
	margin-top: 32px;
}

.col-head:nth-child(3) {
	margin-top: 28px;
}

.col-tex {
	font-size: 20px;
	font-family: "PTSansNarrowRegular";
	letter-spacing: .8px;
	line-height: 24px;
}
/* ./block three column */

/* triangle block */
.triangle {
	width: 100%;
	padding-top: 40px;
}

.inset-container {
	font-size: 0;
	width: 100%;
	margin: 0 auto;
}

.inset-container>div {
	display: inline-block;
}

.left-triangle {
	border-top: 0px solid transparent;
	border-bottom: 65px solid #fff;
	border-left: 0px solid transparent ;
	border-right: calc((100vw / 2) - 9px) solid transparent;
	width: 0;
	height: 0;
}

.right-triangle {
	border-bottom: 65px solid #fff;
	border-top:0px solid transparent ;
	border-right: 0px solid transparent;
	border-left: calc((100vw / 2) - 9px) solid transparent;
}

/* ./triangle block */

/* news block */

.news-content, .head-wrap {
	width: 100%;
	background-color: #fff;
}

.head-content {
	width: 80%;
	margin: 0 auto;
	font-size: 0;
}

.head-content>div {
	display: inline-block;
}

.left-content-head {
	font-size: 40px;
	font-family: "PTSansNarrowBold";
	text-align: center;
	text-transform: uppercase;
}

.head-header {
	margin-top: 60px;
}